/java/NetBeansProjects/Aula4/IdiomaSistema/target/
/java/NetBeansProjects/Aula4/ResolucaoTela/target/
/java/NetBeansProjects/aula5/OlaMundoJavaFX/nbproject/private/
/java/NetBeansProjects/aula5/OlaMundoJavaFX/dist/
/java/NetBeansProjects/aula5/OlaMundoJavaFX/build/
/java/NetBeansProjects/RelogioSwing/nbproject/private/
/java/NetBeansProjects/RelogioSwing/build/
/java/NetBeansProjects/aula5/Desafios/IdiomaSwing/nbproject/private/
/java/NetBeansProjects/aula5/Desafios/IdiomaSwing/build/
/java/NetBeansProjects/aula5/Desafios/ResolucaoTelaSwing/nbproject/private/
/java/NetBeansProjects/aula5/Desafios/ResolucaoTelaSwing/build/
/java/NetBeansProjects/aula6/TiposPrimitivos/nbproject/private/
/java/NetBeansProjects/aula6/TiposPrimitivos/build/
/java/NetBeansProjects/aula6/TesteTipos/nbproject/private/
/java/NetBeansProjects/aula6/TesteTipos/build/
/java/NetBeansProjects/aula6/SomaSwing/nbproject/private/
/java/NetBeansProjects/aula6/SomaSwing/build/
