/java/NetBeansProjects/Aula4/IdiomaSistema/target/
/java/NetBeansProjects/Aula4/ResolucaoTela/target/
/java/NetBeansProjects/aula5/OlaMundoJavaFX/nbproject/private/
/java/NetBeansProjects/aula5/OlaMundoJavaFX/dist/
/java/NetBeansProjects/aula5/OlaMundoJavaFX/build/
/java/NetBeansProjects/RelogioSwing/nbproject/private/
/java/NetBeansProjects/RelogioSwing/build/
/java/NetBeansProjects/aula5/Desafios/IdiomaSwing/nbproject/private/
/java/NetBeansProjects/aula5/Desafios/IdiomaSwing/build/
/java/NetBeansProjects/aula5/Desafios/ResolucaoTelaSwing/nbproject/private/
/java/NetBeansProjects/aula5/Desafios/ResolucaoTelaSwing/build/
/java/NetBeansProjects/aula6/TiposPrimitivos/nbproject/private/
/java/NetBeansProjects/aula6/TiposPrimitivos/build/
/java/NetBeansProjects/aula6/TesteTipos/nbproject/private/
/java/NetBeansProjects/aula6/TesteTipos/build/
/java/NetBeansProjects/aula6/SomaSwing/nbproject/private/
/java/NetBeansProjects/aula6/SomaSwing/build/
/java/NetBeansProjects/aula6/CalculadoraIdade/nbproject/private/
/java/NetBeansProjects/aula6/CalculadoraIdade/build/
/java/NetBeansProjects/aula6/Desafio/CalculadoraIdade2.0/nbproject/private/
/java/NetBeansProjects/aula6/Desafio/CalculadoraIdade2.0/build/
/java/NetBeansProjects/aula5/OlaMundoJavaFX_1/nbproject/private/
/java/NetBeansProjects/aula6/OperadorsAritmetricos/nbproject/private/
/java/NetBeansProjects/aula6/OperadorsAritmetricos/build/
/java/NetBeansProjects/aula6/OperadoresSwing/nbproject/private/
/java/NetBeansProjects/aula7/OperadoresSwing/build/
/java/NetBeansProjects/aula7/SuperCalculadora/nbproject/private/
/java/NetBeansProjects/aula7/SuperCalculadora/build/
/java/NetBeansProjects/aula8/OperadorTernario/nbproject/private/
/java/NetBeansProjects/aula8/OperadorTernario/build/
/java/NetBeansProjects/aula8/ComparacaoString/nbproject/private/
/java/NetBeansProjects/aula8/ComparacaoString/build/
/java/NetBeansProjects/aula8/OperadoresLogicos/nbproject/private/
/java/NetBeansProjects/aula8/OperadoresLogicos/build/
/java/NetBeansProjects/aula8/VerificadorIdadeSwing/nbproject/private/
/java/NetBeansProjects/aula8/VerificadorIdadeSwing/build/
/java/NetBeansProjects/aula8/AdivinhaDe1a5/nbproject/private/
/java/NetBeansProjects/aula8/AdivinhaDe1a5/build/
/java/NetBeansProjects/aula9/ProgramaMedia/nbproject/private/
/java/NetBeansProjects/aula9/ProgramaMedia/build/
/java/NetBeansProjects/aula9/ProgramaIdade/nbproject/private/
/java/NetBeansProjects/aula9/ProgramaIdade/build/
/java/NetBeansProjects/aula9/ProgramaParImparSwing/nbproject/private/
/java/NetBeansProjects/aula9/ProgramaParImparSwing/build/
/java/NetBeansProjects/aula9/Desafio/EquacaoSegundoGrau/nbproject/private/
/java/NetBeansProjects/aula9/Desafio/EquacaoSegundoGrau/build/
/java/NetBeansProjects/aula9/Desafio/VotacaoSwing/nbproject/private/
/java/NetBeansProjects/aula9/Desafio/VotacaoSwing/build/
/java/NetBeansProjects/aula9/Desafio/ProgramaPernas/nbproject/private/
/java/NetBeansProjects/aula9/Desafio/ProgramaPernas/build/
/java/NetBeansProjects/aula9/Desafio/TipoTriangulo/nbproject/private/
/java/NetBeansProjects/aula9/Desafio/TipoTriangulo/build/
/java/NetBeansProjects/aula11/Contador01/nbproject/private/
/java/NetBeansProjects/aula11/Contador01/build/
/java/NetBeansProjects/aula11/Contador02]/nbproject/private/
/java/NetBeansProjects/aula11/Contador02/nbproject/private/
/java/NetBeansProjects/aula11/Contador02/build/
/java/NetBeansProjects/aula11/CalculoFatorial/nbproject/private/
/java/NetBeansProjects/aula11/CalculoFatorial/build/
/java/NetBeansProjects/aula12/Repeticao01/nbproject/private/
/java/NetBeansProjects/aula12/Repeticao01/build/
/java/NetBeansProjects/aula12/Numeros/nbproject/private/
/java/NetBeansProjects/aula12/Numeros/build/
/java/NetBeansProjects/aula12/ExercioRepita/nbproject/private/
/java/NetBeansProjects/aula12/ExercioRepita/build/
